# exclude
--exclude Package.swift

# Enabled rules
--rules andOperator
--rules anyObjectProtocol
--rules assertionFailures
--rules blankLinesAroundMark
--rules blankLinesAtEndOfScope
--rules blankLinesBetweenScopes
--rules braces
--rules consecutiveBlankLines
--rules consecutiveSpaces
--rules duplicateImports
--rules elseOnSameLine
--rules emptyBraces
--rules enumNamespaces
--rules extensionAccessControl
--rules fileHeader
--rules hoistPatternLet
--rules indent
--rules initCoderUnavailable
--rules isEmpty
--rules leadingDelimiters
--rules linebreakAtEndOfFile
--rules linebreaks
--rules modifierOrder
--rules preferKeyPath
--rules redundantBackticks
--rules redundantBreak
# --rules redundantClosure
--rules redundantExtensionACL
--rules redundantGet
--rules redundantInit
--rules redundantLet
--rules redundantLetError
--rules redundantNilInit
--rules redundantObjc
--rules redundantParens
--rules redundantPattern
--rules redundantRawValues
--rules redundantReturn
--rules redundantSelf
--rules redundantType
--rules redundantVoidReturnType
--rules semicolons
--rules sortImports
--rules spaceAroundBraces
--rules spaceAroundBrackets
--rules spaceAroundComments
--rules spaceAroundGenerics
--rules spaceAroundOperators
--rules spaceAroundParens
--rules spaceInsideBraces
--rules spaceInsideBrackets
--rules spaceInsideComments
--rules spaceInsideGenerics
--rules spaceInsideParens
--rules strongifiedSelf
--rules strongOutlets
--rules todos
--rules trailingClosures
--rules trailingCommas
--rules trailingSpace
--rules typeSugar
--rules void
--rules wrap
--rules wrapArguments
--rules wrapAttributes
--rules wrapEnumCases
--rules yodaConditions

# rules
--disable preferKeyPath
--disable initCoderUnavailable
--disable markTypes

# Options
--extensionacl on-declarations
--header "/*\n * Copyright (c) Prismlabs, Inc. and affiliates.\n * All rights reserved.\n *\n * This source code is licensed under the license found in the\n * LICENSE file in the root directory of this source tree.\n */"
--ifdef no-indent
--importgrouping "testable-first"
--indent 4
--indentstrings true
--modifierorder open, override
--swiftversion 5.9
--wraparguments before-first
--allman false
--self insert
--wrapparameters before-first
--wrapcollections before-first
--wrapreturntype if-multiline
--wrapconditions before-first
--funcattributes prev-line
--typeattributes prev-line
--varattributes same-line
--marktypes never
